/*標籤名稱選擇器，body可以不用 .body 因為只有一個*/
body{background-color: darkslategrey}
/*class選擇器*/
.title{color: azure;
    font-size: 40px;
    font-weight:bold;
    margin-bottom: 20px;
    width: 50%}

.content{padding: 10px;
    border: 1px dashed white;
    color: azure;
    font-size:25px;
    font-weight: bold;
    width: 50%}

.keyworld{color: darkgray;
    font-weight: bold}

/*id 選擇器*/
#title-1{text-decoration:line-through}